In [ ]:
"""
<함수(Function, Method)>
    - 자주 반복해서 사용해야하는 코드를 미리 하나의 이름으로 정의해 놓은 것
    - 자주 반복해서 사용해야하는 기능, 기능은 함수...
    - 자주 반복하지 않더라도, 가끔 사용 또는 코드가 너무 긴 경우 사용

<함수 작성 순서(정해진 것은 아닙니다.)>
    1. 프로그램을 먼저 작성 (절차적으로 테스트)
    2. 오류가 없는 상태로 테스트
    3. 자주 반복해서 사용되는 부분을 하나의 이름으로 별도로 정의 (함수 정의라고 합니다.)
        - 함수 정의 시 가급적 
            -> 정의된 숫자값은 사용하지 않기
        - 함수를 정의 규칙
            -> 함수 이름은 소문자로 시작합니다.
            -> 함수 이름 뒤에는 소괄호()가 항상 있습니다.
        - 함수 이름 작명할 때
            -> getXxx(), setXxx()
    4. 정의된 함수를 호출하여 사용 (함수 호출이라고 합니다.)
"""

In [6]:
a = 30
b = 8
tot = a + b

### 출력 함수
# - print(인자)
# - 인자(넘겨주는 쪽, 호출하는 쪽) 또는 매개변수(받는 쪽, 정의된 함수 쪽에서 받습니다.)
# - 인자와 매개변수를 통칭해서 파라미터(parameter)라고 칭하겠습니다
print(tot)

38

In [7]:
a = 40
b = 8
tot = a + b

print(tot)

48

In [8]:
### 함수 정의하기(User Define Function : UDF(사용자 정의 함수) 문서)
# - 수행하는 기능 : a와 b의 값을 합해서 화면에 출력해주는 기능## 함수 정의하기(User Define Function : UDF(사용자 정의 함수) 문서)
# - 수행하는 기능 : a와 b의 값을 합해서 화면에 출력해주는 기능
def showPlus() :
    a = 30
    b = 8
    tot = a + b
    
    print(tot)

In [9]:
showPlus()

38

In [10]:
### 매개변수(파라미터) 사용
def showPlus(a, b) :
    # a = 30
    # b = 8
    tot = a + b
    
    print(tot)

In [12]:
### 함수 호출
showPlus(11, 15)

26

In [27]:
### 매개변수(파라미터) + 반환(리턴, return) 사용 함수 정의
def getPlus(a, b) :
    # a = 30
    # b = 8
    tot = a + b
    
    # print(tot)

    ### 반환 (리턴, return)
    # - 함수를 호출한 사용자 코드에 값을 다시 전달해 줍니다.
    return tot

In [28]:
rs_tot = getPlus(44, 50)
rs_tot + 6566

6660

In [29]:
### 매개변수(파라미터) + 반환(리턴, return) 사용 함수 정의
# - 파라미터에 디폴트(default)값을 미리 정의해 놓기
#    --> 디폴트 값은 보통 자주 사용되는 값이 있는 경우에 정의하거나,
#    --> 초기값(0 또는 "")을 정의해 놓고 사용하고자 할 때 미리 정의해서 사용함
# - range(0, 100, 1) == range(100)
def getPlus(a=5, b=10) :
    # a = 30
    # b = 8
    tot = a + b
    
    # print(tot)

    ### 반환 (리턴, return)
    # - 함수를 호출한 사용자 코드에 값을 다시 전달해 줍니다.
    return tot

In [31]:
getPlus()
getPlus(50)

60

In [34]:
### 여러개의 값들을 반환(리턴)하는 함수 정의
def getPlus(a=5, b=10) :
    # a = 30
    # b = 8
    tot = a + b
    
    # print(tot)

    ### 반환 (리턴, return)
    # - 함수를 호출한 사용자 코드에 값을 다시 전달해 줍니다.
    return tot, a, b

In [36]:
### 여러개의 값을 반환 받을 때 사용....
tot1, a1, b1 = getPlus(11, 55)
print(tot1, a1, b1)

66 11 55

In [ ]:
"""
* 산술연산(+, -, *, /, //, %)을 수행하는 기능(함수) 정의하기
    - 함수 이름 : getMath
    - 파라미터 : 직접 고민하기
    - 함수 기능
        : 더하기 연산을 하고 싶은 경우에는 더한 값을 리턴 하기
        : 빼기 연산을 하고 싶은 경우에는 더한 값을 리턴 하기
        : 곱하기, 나누기, 나눈몫, 나눈나머지 모두 위와 동일하게 처리
"""

In [86]:
msg = """아래 번호 중에 하나를 선택하여 주세요(번호로 입력)
0. 종료
1. 더하기
2. 빼기
3. 곱하기
4. 나누기
5. 나눈 몫
6. 나눈 나머지
"""

def getMath(a=0, b=0) :

    while True :
        num = int(input(msg))

        if num == 0 :
            print("종료합니다.")
            break

        elif num == 1 :
            a = int(input("더하고 싶은 값 a를 입력해 주세요."))
            b = int(input("더하고 싶은 값 b를 입력해 주세요"))
            p = a + b
            return(f"{p}는 더하기를 한 결과 값입니다.")

        elif num == 2 :
            a = int(input("빼고 싶은 값 a를 입력해 주세요."))
            b = int(input("빼고 싶은 값 b를 입력해 주세요"))
            m = a - b
            return(f"{m}는 빼기를 한 결과 값입니다.")

        elif num == 3 :
            a = int(input("곱하고 싶은 값 a를 입력해 주세요."))
            b = int(input("곱하고 싶은 값 b를 입력해 주세요"))
            x = a * b
            return(f"{x}는 곱하기 한 결과 값입니다.")
            
        elif num == 4 :
            a = int(input("나누고 싶은 값 a를 입력해 주세요."))
            b = int(input("나누고 싶은 값 b를 입력해 주세요"))
            d = a / b
            return(f"{d}는 나누기를 한 결과 값입니다.")

        elif num == 5 :
            a = int(input("나누고 싶은 값 a를 입력해 주세요."))
            b = int(input("나누고 싶은 값 b를 입력해 주세요"))
            dt = a // b
            return(f"{dt}는 나누기를 한 결과 값은 몫 입니다.")

        elif num == 6 :
            a = int(input("나누고 싶은 값 a를 입력해 주세요."))
            b = int(input("나누고 싶은 값 b를 입력해 주세요"))
            dl = a % b
            return(f"{dl}는 나누기를 한 결과 값은 나머지 입니다.")

        else :
            print("\n\n++++++++++오류++++++++++\n\n")

    
    return

In [87]:
getMath()

아래 번호 중에 하나를 선택하여 주세요(번호로 입력)
0. 종료
1. 더하기
2. 빼기
3. 곱하기
4. 나누기
5. 나눈 몫
6. 나눈 나머지
 8

++++++++++오류++++++++++

아래 번호 중에 하나를 선택하여 주세요(번호로 입력)
0. 종료
1. 더하기
2. 빼기
3. 곱하기
4. 나누기
5. 나눈 몫
6. 나눈 나머지
 1
더하고 싶은 값 a를 입력해 주세요. 4
더하고 싶은 값 b를 입력해 주세요 10

'14는 더하기를 한 결과 값입니다.'

In [ ]:
def getMath2(mode, a, b) :
    if mode == "+" :
        tot = a + b
    elif mode == "-" :
        tot = a - b
    elif mode == "*" :
        tot = a * b
    elif mode == "/" :
        tot = a / b
    elif mode == "//" :
        tot = a // b
    elif mode == "%" :
        tot = a % b
    else :
        print("잘못된 구분자 입니다.")
        tot = 0
    return tot

In [16]:
"""
함수는 만들지 마시고...
    - 구구단 출력하기
        -- 단, 원하는 단 하나에 대해서만 출력하기
"""
dan = 8

for n in range(1, 10, 1) :
    print(f"{dan} x {n} = {dan * n}")

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

In [17]:
### 위의 구구단 예제를 함수로 만들어 주세요
# - 함수명 : PrintGDan
# - 함수 기능 : 임의 단을 전달 받아서 출력하는 기능 수행
def PrintGDan(dan) :
    for n in range(1, 10, 1) :
        print(f"{dan} x {n} = {dan * n}")

In [18]:
### 함수 호출하기
PrintGDan(5)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

In [33]:
"""
temp_list = ["홍길동", "이순신", "김유신"]

    - 임의 리스트 변수를 전달 받아서 각 데이터를 출력하는 함수 정의하기
    - 함수명 : printList
"""
temp_list = ["홍길동", "이순신", "김유신"]

for val in temp_list :
    print(val)

홍길동
이순신
김유신

In [34]:
### 함수정의
def printList(temp_list) :
    for val in temp_list :
        print(val)

In [35]:
### 함수 호출하기
temp_list = ["홍길동", "이순신", "김유신"]
printList(temp_list=temp_list)

홍길동
이순신
김유신

In [25]:
printList([])

In [ ]:
"""
위의 임의 리스트 변수 temp_list를 사용해서....
    - 임의 리스트 변수를 전달 받아서 임의 값을 추가하는 함수 정의
    - 함수명 : setAppendList
"""

In [42]:
temp_list = ["홍길동", "이순신", "김유신"]
add_name = "홍길동2"
temp_list.append(add_name)

printList(temp_list)

홍길동
이순신
김유신
홍길동2

In [43]:
def setAppendList(p_list, p_name) :
    p_list.append(p_name)

In [45]:
temp_list = ["홍길동", "이순신", "김유신"]
### 함수 호출
setAppendList(p_list=temp_list, p_name="김유신2")

In [46]:
### 리스트에 값이 잘 추가되었는지 확인하는 함수 호출
printList(temp_list=temp_list)

홍길동
이순신
김유신
김유신2

In [ ]:
"""
구구단 함수 만들기
    - 함수명 : printGDan2
    - 기능
        : 임의의 시작단과 끝단 전달 받기
        : 곱하기를 할 시작값과 끝값 전달 받기
        : 시작단부터 끝단까지의 곱할 시작값과 끝값을 곱하여 출력하기..
    - 예시
        --> 시작단은 2 , 끝단은 3을 전달받고,
            곱할 시작값을 5, 끝값을 9를 전달 받았다면,,,
            2 x 5 = 10
               ...
            2 x 9 = 18
            ----------
            3 x 5 = 15
               ...
            3 x 9 = 27
"""

In [71]:
### 함수정의
def printGDan2(s_dan, e_dan, s_mul, e_mul):

    for dan in range(s_dan, e_dan + 1) :
        print(f"[ {dan}단 ]")
        
        for mul in range(s_mul, e_mul + 1) :
            print(f"{dan} x {mul} = {dan * mul}")

In [72]:
### 호출하기
printGDan2(s_dan=8, e_dan=9, s_mul=7, e_mul=9)

[ 8단 ]
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
[ 9단 ]
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [74]:
### 임의 여러개의 값을 매개변수로 받아와야 하는 경우
# - 정해지지 않은 갯수...
# - 이때 매개변수명 앞에 별(*)을 붙여서 받아 옵니다.
# - *로 받은 타입은 -> 튜플 타입 입니다.
def getTotSum(*num) :
    print(num)

In [86]:
getTotSum(1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [87]:
### 위 함수(getTotSum)를 수정하셔서,
# -> 1부터 10까지의 총합을 계산한 후
# -> 총합의 결과값을 리번(반환)
# -> 반환 받은 결과를 출력

In [110]:
def getTotSum(*num) :
    tot = 0
    for num in range(1, 11, 1) :
        tot += num
    return tot

In [111]:
getTotSum()

55

In [112]:
getTotSum(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

55

In [113]:
def getTotSum(*num) :
    tot = sum(num)
    return tot

In [114]:
getTotSum(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

55

In [115]:
### 문자열로 여러개 값 받아오기
def getString(*string) :
    print(string)

In [147]:
getString("홍길동", "이순신", "김유신")

('홍길동', '이순신', '김유신')

In [156]:
### setAppendList함수와 getString 함수를 이용해서
# 이름 여러개의 튜플 타입을 임의 리스트에 추가하기
# 임의 리스트 변수명 : list_temp

list_temp = []
# 추가할 값 = "홍길동", "이순신", "김유신"

### 함수 정의하기
def setAppendList(a_list, a_name) :
    a_list.append(a_name)
    
### 문자열로 여러개 값 받아오기
def getString(*string) :
        return string

In [159]:
list_temp = []
# rs_tuple = getString("홍길동", "이순신", "김유신")
# setAppendList(a_list=list_temp, a_name=rs_tuple)

setAppendList(a_list=list_temp, a_name=getString("홍길동", "이순신", "김유신"))

In [160]:
list_temp

[('홍길동', '이순신', '김유신')]

In [162]:
### 임의 여러개의 key=value 형태의 값들을 묶어서 받아오기
# - 별 기호(**)를 2개 사용합니다.
# - **의 의미 : key=value로 전달받은 값들을 딕셔너리 타입으로 처리합니다.
def getDict(**info) :
    print(info)

In [164]:
getDict(name = "홍길동", age = 30, area = "부산")

{'name': '홍길동', 'age': 30, 'area': '부산'}

In [ ]:
### 위에서 사용한 setAppendList 함수와 getDict 함수를 이용해서
# - 사용자 정보(name = "홍길동", age = 30, area = "부산")를 딕셔너리 타입으로
# - 리스트에 추가해 주세요...
# - 리스트 변수명 : list_temp = []

In [170]:
def getDict(**info) :
    return info

In [171]:
list_temp = []

setAppendList(list_temp, getDict(name = "홍길동", age = 30, area = "부산"))

In [172]:
list_temp

[{'name': '홍길동', 'age': 30, 'area': '부산'}]