In [ ]:
"""
<딕셔너리(dict)>
    - 리스트(list)와 동일하게 여러개의 값을 가지고 다니는 타입 중의 한가지
    - 리스트(list)와 차이점 : 리스트 메모리는 인덱스가 순서적으로 만들어지지만, 딕셔너리는 순서 없음
    - 딕셔너리는 key와 value의 한쌍으로 한개의 데이터가 만들어짐
    - key는 고유한 값만 사용가능하며, key를 이용해서 value의 값을 추출할 수 있음
    - 리스트는 대괄호[]를 사용했다면, 딕셔너리는 중괄호{}를 사용하여 데이터를 정의함
    - 딕셔너리에 데이터(value의 값)를 추출하고자 할 때는 "딕셔너리 변수명[key]" 형태로 작성
    - 딕셔너리 값(value) 수정 => 딕셔너리 변수명[존재하는 key] = "수정할 값"
    - 딕셔너리 값 추가 => "딕셔너리 변수명[추가할 key] = 
"""

In [13]:
### 딕셔너리 변수 생성
data = {}
data = {"name" : "홍길동",
        "age" : 22,
        "area" : "부산"}
print(data)

{'name': '홍길동', 'age': 22, 'area': '부산'}

In [14]:
### key를 이용하여 값(value) 추출하기
data["name"], data["age"], data["area"]

('홍길동', 22, '부산')

In [15]:
### 값 수정하기
data["name"] = "이순신"
data["age"] = 50
data["area"] = "서울"
data

{'name': '이순신', 'age': 50, 'area': '서울'}

In [16]:
### 데이터(값) 추가하기
data["phone"] = "010-1234-5678"
data

{'name': '이순신', 'age': 50, 'area': '서울', 'phone': '010-1234-5678'}

In [17]:
list_name = ["이순신", "홍길동", "김유신"]
list_age = [22, 33, 44]
list_area = ["부산", "서울", "대전"]

print(list_name, list_age, list_area)

['이순신', '홍길동', '김유신'] [22, 33, 44] ['부산', '서울', '대전']

In [18]:
dict_data = {"name" : list_name,
             "age" : list_age,
             "area" : list_area}
dict_data

{'name': ['이순신', '홍길동', '김유신'],
 'age': [22, 33, 44],
 'area': ['부산', '서울', '대전']}

In [19]:
### get() 함수를 이용해서 데이터 추출하기
dict_data["name"], dict_data.get("name")

(['이순신', '홍길동', '김유신'], ['이순신', '홍길동', '김유신'])

In [20]:
### 딕셔너리 내에 key가 존재하지 않으면 오류를 발생합니다
dict_data["name1"]

KeyError: 'name1'

In [22]:
### 딕셔너리 내에 해당 key가 존재하지 않더라도 오류 발생하지 않음
# - key가 없는 경우를 대처할 수 있음(두번째 값으로 대체)
dict_data.get("name1", "no")

'no'

In [24]:
### 삭제하기
del data["name"]

In [25]:
data

{'age': 50, 'area': '서울', 'phone': '010-1234-5678'}

In [27]:
### key 존재여부 확인하기 : in 사용 (리스트와 동일)
# - 리스트에서 값이 있는지 없는지 확인했다면,
# - 딕셔너리에서는 key가 있는지 없는지 확인합니다.
"name" in data, "age" in data

(False, True)

In [37]:
### 이름 중에 홍길동이 있는지 확인하기
"홍길동" in dict_data["name"]

True

In [38]:
dict2 = {1 : "홍길동", 2 : "홍길동2"}
dict2 = {"name1" : "홍길동1", "name2" : "홍길동2"}

In [109]:
### 딕셔너리 변수생성 : dict3
# - key값은 name1 ~ name100
# - value값은 홍길동1 ~ 홍길동100
dict3 = {}

for i in range(1, 101, 1) :
    dict3[f"name{i}"] = f"홍길동{i}"

print(dict3)

{'name1': '홍길동1', 'name2': '홍길동2', 'name3': '홍길동3', 'name4': '홍길동4', 'name5': '홍길동5', 'name6': '홍길동6', 'name7': '홍길동7', 'name8': '홍길동8', 'name9': '홍길동9', 'name10': '홍길동10', 'name11': '홍길동11', 'name12': '홍길동12', 'name13': '홍길동13', 'name14': '홍길동14', 'name15': '홍길동15', 'name16': '홍길동16', 'name17': '홍길동17', 'name18': '홍길동18', 'name19': '홍길동19', 'name20': '홍길동20', 'name21': '홍길동21', 'name22': '홍길동22', 'name23': '홍길동23', 'name24': '홍길동24', 'name25': '홍길동25', 'name26': '홍길동26', 'name27': '홍길동27', 'name28': '홍길동28', 'name29': '홍길동29', 'name30': '홍길동30', 'name31': '홍길동31', 'name32': '홍길동32', 'name33': '홍길동33', 'name34': '홍길동34', 'name35': '홍길동35', 'name36': '홍길동36', 'name37': '홍길동37', 'name38': '홍길동38', 'name39': '홍길동39', 'name40': '홍길동40', 'name41': '홍길동41', 'name42': '홍길동42', 'name43': '홍길동43', 'name44': '홍길동44', 'name45': '홍길동45', 'name46': '홍길동46', 'name47': '홍길동47', 'name48': '홍길동48', 'name49': '홍길동49', 'name50': '홍길동50', 'name51': '홍길동51', 'name52': '홍길동52', 'name53': '홍길동53', 'name54': '홍길동54', 'name55': '홍길동55', 'name56': '홍길동56', 'name57': '홍길동57', 'name58': '홍길동58', 'name59': '홍길동59', 'name60': '홍길동60', 'name61': '홍길동61', 'name62': '홍길동62', 'name63': '홍길동63', 'name64': '홍길동64', 'name65': '홍길동65', 'name66': '홍길동66', 'name67': '홍길동67', 'name68': '홍길동68', 'name69': '홍길동69', 'name70': '홍길동70', 'name71': '홍길동71', 'name72': '홍길동72', 'name73': '홍길동73', 'name74': '홍길동74', 'name75': '홍길동75', 'name76': '홍길동76', 'name77': '홍길동77', 'name78': '홍길동78', 'name79': '홍길동79', 'name80': '홍길동80', 'name81': '홍길동81', 'name82': '홍길동82', 'name83': '홍길동83', 'name84': '홍길동84', 'name85': '홍길동85', 'name86': '홍길동86', 'name87': '홍길동87', 'name88': '홍길동88', 'name89': '홍길동89', 'name90': '홍길동90', 'name91': '홍길동91', 'name92': '홍길동92', 'name93': '홍길동93', 'name94': '홍길동94', 'name95': '홍길동95', 'name96': '홍길동96', 'name97': '홍길동97', 'name98': '홍길동98', 'name99': '홍길동99', 'name100': '홍길동100'}

In [110]:
### 딕셔너리에서 key만 추출하기
# - key() : key값 모두 리스트 타입으로 변환
dict3.keys()

dict_keys(['name1', 'name2', 'name3', 'name4', 'name5', 'name6', 'name7', 'name8', 'name9', 'name10', 'name11', 'name12', 'name13', 'name14', 'name15', 'name16', 'name17', 'name18', 'name19', 'name20', 'name21', 'name22', 'name23', 'name24', 'name25', 'name26', 'name27', 'name28', 'name29', 'name30', 'name31', 'name32', 'name33', 'name34', 'name35', 'name36', 'name37', 'name38', 'name39', 'name40', 'name41', 'name42', 'name43', 'name44', 'name45', 'name46', 'name47', 'name48', 'name49', 'name50', 'name51', 'name52', 'name53', 'name54', 'name55', 'name56', 'name57', 'name58', 'name59', 'name60', 'name61', 'name62', 'name63', 'name64', 'name65', 'name66', 'name67', 'name68', 'name69', 'name70', 'name71', 'name72', 'name73', 'name74', 'name75', 'name76', 'name77', 'name78', 'name79', 'name80', 'name81', 'name82', 'name83', 'name84', 'name85', 'name86', 'name87', 'name88', 'name89', 'name90', 'name91', 'name92', 'name93', 'name94', 'name95', 'name96', 'name97', 'name98', 'name99', 'name100'])

In [111]:
### 딕셔너리에서 value값들 모드 추출하기
# - values() : 모든 값들을 리스트 타입으로 변환
dict3.values()

dict_values(['홍길동1', '홍길동2', '홍길동3', '홍길동4', '홍길동5', '홍길동6', '홍길동7', '홍길동8', '홍길동9', '홍길동10', '홍길동11', '홍길동12', '홍길동13', '홍길동14', '홍길동15', '홍길동16', '홍길동17', '홍길동18', '홍길동19', '홍길동20', '홍길동21', '홍길동22', '홍길동23', '홍길동24', '홍길동25', '홍길동26', '홍길동27', '홍길동28', '홍길동29', '홍길동30', '홍길동31', '홍길동32', '홍길동33', '홍길동34', '홍길동35', '홍길동36', '홍길동37', '홍길동38', '홍길동39', '홍길동40', '홍길동41', '홍길동42', '홍길동43', '홍길동44', '홍길동45', '홍길동46', '홍길동47', '홍길동48', '홍길동49', '홍길동50', '홍길동51', '홍길동52', '홍길동53', '홍길동54', '홍길동55', '홍길동56', '홍길동57', '홍길동58', '홍길동59', '홍길동60', '홍길동61', '홍길동62', '홍길동63', '홍길동64', '홍길동65', '홍길동66', '홍길동67', '홍길동68', '홍길동69', '홍길동70', '홍길동71', '홍길동72', '홍길동73', '홍길동74', '홍길동75', '홍길동76', '홍길동77', '홍길동78', '홍길동79', '홍길동80', '홍길동81', '홍길동82', '홍길동83', '홍길동84', '홍길동85', '홍길동86', '홍길동87', '홍길동88', '홍길동89', '홍길동90', '홍길동91', '홍길동92', '홍길동93', '홍길동94', '홍길동95', '홍길동96', '홍길동97', '홍길동98', '홍길동99', '홍길동100'])

In [112]:
### 딕셔너리 내에 key와 value의 모든 값들을 셋트로 추출하기
# items() : 각 key와 value의 모든 값들을 리스트 타입으로 변환
#         : 각 key와 value의 값들은 소괄호()로 묶어서 나옴 
#         : 소괄호() -> 파이썬에서는 소괄호() 타입을 튜플 타입이라고 합니다.
#         : 튜플 : 리스트와 기호만 다르고 동일하게 사용되는 형태
dict3.items()

dict_items([('name1', '홍길동1'), ('name2', '홍길동2'), ('name3', '홍길동3'), ('name4', '홍길동4'), ('name5', '홍길동5'), ('name6', '홍길동6'), ('name7', '홍길동7'), ('name8', '홍길동8'), ('name9', '홍길동9'), ('name10', '홍길동10'), ('name11', '홍길동11'), ('name12', '홍길동12'), ('name13', '홍길동13'), ('name14', '홍길동14'), ('name15', '홍길동15'), ('name16', '홍길동16'), ('name17', '홍길동17'), ('name18', '홍길동18'), ('name19', '홍길동19'), ('name20', '홍길동20'), ('name21', '홍길동21'), ('name22', '홍길동22'), ('name23', '홍길동23'), ('name24', '홍길동24'), ('name25', '홍길동25'), ('name26', '홍길동26'), ('name27', '홍길동27'), ('name28', '홍길동28'), ('name29', '홍길동29'), ('name30', '홍길동30'), ('name31', '홍길동31'), ('name32', '홍길동32'), ('name33', '홍길동33'), ('name34', '홍길동34'), ('name35', '홍길동35'), ('name36', '홍길동36'), ('name37', '홍길동37'), ('name38', '홍길동38'), ('name39', '홍길동39'), ('name40', '홍길동40'), ('name41', '홍길동41'), ('name42', '홍길동42'), ('name43', '홍길동43'), ('name44', '홍길동44'), ('name45', '홍길동45'), ('name46', '홍길동46'), ('name47', '홍길동47'), ('name48', '홍길동48'), ('name49', '홍길동49'), ('name50', '홍길동50'), ('name51', '홍길동51'), ('name52', '홍길동52'), ('name53', '홍길동53'), ('name54', '홍길동54'), ('name55', '홍길동55'), ('name56', '홍길동56'), ('name57', '홍길동57'), ('name58', '홍길동58'), ('name59', '홍길동59'), ('name60', '홍길동60'), ('name61', '홍길동61'), ('name62', '홍길동62'), ('name63', '홍길동63'), ('name64', '홍길동64'), ('name65', '홍길동65'), ('name66', '홍길동66'), ('name67', '홍길동67'), ('name68', '홍길동68'), ('name69', '홍길동69'), ('name70', '홍길동70'), ('name71', '홍길동71'), ('name72', '홍길동72'), ('name73', '홍길동73'), ('name74', '홍길동74'), ('name75', '홍길동75'), ('name76', '홍길동76'), ('name77', '홍길동77'), ('name78', '홍길동78'), ('name79', '홍길동79'), ('name80', '홍길동80'), ('name81', '홍길동81'), ('name82', '홍길동82'), ('name83', '홍길동83'), ('name84', '홍길동84'), ('name85', '홍길동85'), ('name86', '홍길동86'), ('name87', '홍길동87'), ('name88', '홍길동88'), ('name89', '홍길동89'), ('name90', '홍길동90'), ('name91', '홍길동91'), ('name92', '홍길동92'), ('name93', '홍길동93'), ('name94', '홍길동94'), ('name95', '홍길동95'), ('name96', '홍길동96'), ('name97', '홍길동97'), ('name98', '홍길동98'), ('name99', '홍길동99'), ('name100', '홍길동100')])

In [113]:
# print(dict3)
### keys() 함수를 결과를 이용해서 반복하기..
# - 아래와 같이 출력하기
#   key : name1, value :홍길동1 입니다.
#   ...
#   key : name100, value :홍길동100 입니다.

In [115]:
for i in dict3.keys() :
    print(f"key : {i}, value : {dict3[i]} 입니다")

key : name1, value : 홍길동1 입니다
key : name2, value : 홍길동2 입니다
key : name3, value : 홍길동3 입니다
key : name4, value : 홍길동4 입니다
key : name5, value : 홍길동5 입니다
key : name6, value : 홍길동6 입니다
key : name7, value : 홍길동7 입니다
key : name8, value : 홍길동8 입니다
key : name9, value : 홍길동9 입니다
key : name10, value : 홍길동10 입니다
key : name11, value : 홍길동11 입니다
key : name12, value : 홍길동12 입니다
key : name13, value : 홍길동13 입니다
key : name14, value : 홍길동14 입니다
key : name15, value : 홍길동15 입니다
key : name16, value : 홍길동16 입니다
key : name17, value : 홍길동17 입니다
key : name18, value : 홍길동18 입니다
key : name19, value : 홍길동19 입니다
key : name20, value : 홍길동20 입니다
key : name21, value : 홍길동21 입니다
key : name22, value : 홍길동22 입니다
key : name23, value : 홍길동23 입니다
key : name24, value : 홍길동24 입니다
key : name25, value : 홍길동25 입니다
key : name26, value : 홍길동26 입니다
key : name27, value : 홍길동27 입니다
key : name28, value : 홍길동28 입니다
key : name29, value : 홍길동29 입니다
key : name30, value : 홍길동30 입니다
key : name31, value : 홍길동31 입니다
key : name32, value : 홍길동32 입니다
key : name33, value : 홍길동33 입니다
key : name34, value : 홍길동34 입니다
key : name35, value : 홍길동35 입니다
key : name36, value : 홍길동36 입니다
key : name37, value : 홍길동37 입니다
key : name38, value : 홍길동38 입니다
key : name39, value : 홍길동39 입니다
key : name40, value : 홍길동40 입니다
key : name41, value : 홍길동41 입니다
key : name42, value : 홍길동42 입니다
key : name43, value : 홍길동43 입니다
key : name44, value : 홍길동44 입니다
key : name45, value : 홍길동45 입니다
key : name46, value : 홍길동46 입니다
key : name47, value : 홍길동47 입니다
key : name48, value : 홍길동48 입니다
key : name49, value : 홍길동49 입니다
key : name50, value : 홍길동50 입니다
key : name51, value : 홍길동51 입니다
key : name52, value : 홍길동52 입니다
key : name53, value : 홍길동53 입니다
key : name54, value : 홍길동54 입니다
key : name55, value : 홍길동55 입니다
key : name56, value : 홍길동56 입니다
key : name57, value : 홍길동57 입니다
key : name58, value : 홍길동58 입니다
key : name59, value : 홍길동59 입니다
key : name60, value : 홍길동60 입니다
key : name61, value : 홍길동61 입니다
key : name62, value : 홍길동62 입니다
key : name63, value : 홍길동63 입니다
key : name64, value : 홍길동64 입니다
key : name65, value : 홍길동65 입니다
key : name66, value : 홍길동66 입니다
key : name67, value : 홍길동67 입니다
key : name68, value : 홍길동68 입니다
key : name69, value : 홍길동69 입니다
key : name70, value : 홍길동70 입니다
key : name71, value : 홍길동71 입니다
key : name72, value : 홍길동72 입니다
key : name73, value : 홍길동73 입니다
key : name74, value : 홍길동74 입니다
key : name75, value : 홍길동75 입니다
key : name76, value : 홍길동76 입니다
key : name77, value : 홍길동77 입니다
key : name78, value : 홍길동78 입니다
key : name79, value : 홍길동79 입니다
key : name80, value : 홍길동80 입니다
key : name81, value : 홍길동81 입니다
key : name82, value : 홍길동82 입니다
key : name83, value : 홍길동83 입니다
key : name84, value : 홍길동84 입니다
key : name85, value : 홍길동85 입니다
key : name86, value : 홍길동86 입니다
key : name87, value : 홍길동87 입니다
key : name88, value : 홍길동88 입니다
key : name89, value : 홍길동89 입니다
key : name90, value : 홍길동90 입니다
key : name91, value : 홍길동91 입니다
key : name92, value : 홍길동92 입니다
key : name93, value : 홍길동93 입니다
key : name94, value : 홍길동94 입니다
key : name95, value : 홍길동95 입니다
key : name96, value : 홍길동96 입니다
key : name97, value : 홍길동97 입니다
key : name98, value : 홍길동98 입니다
key : name99, value : 홍길동99 입니다
key : name100, value : 홍길동100 입니다

In [121]:
a = 1
b = 2
a, b

a, b = (10, 50)
a, b

c, d = 10, 50
c, d

c, _ = (50, 60)
c

_, h = (50, 60)
h

k, v = ('name1', '홍길도1')
k, v

('name1', '홍길도1')

In [124]:
dict3.items()

dict_items([('name1', '홍길동1'), ('name2', '홍길동2'), ('name3', '홍길동3'), ('name4', '홍길동4'), ('name5', '홍길동5'), ('name6', '홍길동6'), ('name7', '홍길동7'), ('name8', '홍길동8'), ('name9', '홍길동9'), ('name10', '홍길동10'), ('name11', '홍길동11'), ('name12', '홍길동12'), ('name13', '홍길동13'), ('name14', '홍길동14'), ('name15', '홍길동15'), ('name16', '홍길동16'), ('name17', '홍길동17'), ('name18', '홍길동18'), ('name19', '홍길동19'), ('name20', '홍길동20'), ('name21', '홍길동21'), ('name22', '홍길동22'), ('name23', '홍길동23'), ('name24', '홍길동24'), ('name25', '홍길동25'), ('name26', '홍길동26'), ('name27', '홍길동27'), ('name28', '홍길동28'), ('name29', '홍길동29'), ('name30', '홍길동30'), ('name31', '홍길동31'), ('name32', '홍길동32'), ('name33', '홍길동33'), ('name34', '홍길동34'), ('name35', '홍길동35'), ('name36', '홍길동36'), ('name37', '홍길동37'), ('name38', '홍길동38'), ('name39', '홍길동39'), ('name40', '홍길동40'), ('name41', '홍길동41'), ('name42', '홍길동42'), ('name43', '홍길동43'), ('name44', '홍길동44'), ('name45', '홍길동45'), ('name46', '홍길동46'), ('name47', '홍길동47'), ('name48', '홍길동48'), ('name49', '홍길동49'), ('name50', '홍길동50'), ('name51', '홍길동51'), ('name52', '홍길동52'), ('name53', '홍길동53'), ('name54', '홍길동54'), ('name55', '홍길동55'), ('name56', '홍길동56'), ('name57', '홍길동57'), ('name58', '홍길동58'), ('name59', '홍길동59'), ('name60', '홍길동60'), ('name61', '홍길동61'), ('name62', '홍길동62'), ('name63', '홍길동63'), ('name64', '홍길동64'), ('name65', '홍길동65'), ('name66', '홍길동66'), ('name67', '홍길동67'), ('name68', '홍길동68'), ('name69', '홍길동69'), ('name70', '홍길동70'), ('name71', '홍길동71'), ('name72', '홍길동72'), ('name73', '홍길동73'), ('name74', '홍길동74'), ('name75', '홍길동75'), ('name76', '홍길동76'), ('name77', '홍길동77'), ('name78', '홍길동78'), ('name79', '홍길동79'), ('name80', '홍길동80'), ('name81', '홍길동81'), ('name82', '홍길동82'), ('name83', '홍길동83'), ('name84', '홍길동84'), ('name85', '홍길동85'), ('name86', '홍길동86'), ('name87', '홍길동87'), ('name88', '홍길동88'), ('name89', '홍길동89'), ('name90', '홍길동90'), ('name91', '홍길동91'), ('name92', '홍길동92'), ('name93', '홍길동93'), ('name94', '홍길동94'), ('name95', '홍길동95'), ('name96', '홍길동96'), ('name97', '홍길동97'), ('name98', '홍길동98'), ('name99', '홍길동99'), ('name100', '홍길동100')])

In [ ]:
# print(dict3)
### itmes() 함수를 결과를 이용해서 반복하기..
# - 아래와 같이 출력하기
#   key : name1, value :홍길동1 입니다.
#   ...
#   key : name100, value :홍길동100 입니다.

In [125]:
for k, v in dict3.items() :
    print(f"key : {k}, value : {v} 입니다.")

key : name1, value : 홍길동1 입니다.
key : name2, value : 홍길동2 입니다.
key : name3, value : 홍길동3 입니다.
key : name4, value : 홍길동4 입니다.
key : name5, value : 홍길동5 입니다.
key : name6, value : 홍길동6 입니다.
key : name7, value : 홍길동7 입니다.
key : name8, value : 홍길동8 입니다.
key : name9, value : 홍길동9 입니다.
key : name10, value : 홍길동10 입니다.
key : name11, value : 홍길동11 입니다.
key : name12, value : 홍길동12 입니다.
key : name13, value : 홍길동13 입니다.
key : name14, value : 홍길동14 입니다.
key : name15, value : 홍길동15 입니다.
key : name16, value : 홍길동16 입니다.
key : name17, value : 홍길동17 입니다.
key : name18, value : 홍길동18 입니다.
key : name19, value : 홍길동19 입니다.
key : name20, value : 홍길동20 입니다.
key : name21, value : 홍길동21 입니다.
key : name22, value : 홍길동22 입니다.
key : name23, value : 홍길동23 입니다.
key : name24, value : 홍길동24 입니다.
key : name25, value : 홍길동25 입니다.
key : name26, value : 홍길동26 입니다.
key : name27, value : 홍길동27 입니다.
key : name28, value : 홍길동28 입니다.
key : name29, value : 홍길동29 입니다.
key : name30, value : 홍길동30 입니다.
key : name31, value : 홍길동31 입니다.
key : name32, value : 홍길동32 입니다.
key : name33, value : 홍길동33 입니다.
key : name34, value : 홍길동34 입니다.
key : name35, value : 홍길동35 입니다.
key : name36, value : 홍길동36 입니다.
key : name37, value : 홍길동37 입니다.
key : name38, value : 홍길동38 입니다.
key : name39, value : 홍길동39 입니다.
key : name40, value : 홍길동40 입니다.
key : name41, value : 홍길동41 입니다.
key : name42, value : 홍길동42 입니다.
key : name43, value : 홍길동43 입니다.
key : name44, value : 홍길동44 입니다.
key : name45, value : 홍길동45 입니다.
key : name46, value : 홍길동46 입니다.
key : name47, value : 홍길동47 입니다.
key : name48, value : 홍길동48 입니다.
key : name49, value : 홍길동49 입니다.
key : name50, value : 홍길동50 입니다.
key : name51, value : 홍길동51 입니다.
key : name52, value : 홍길동52 입니다.
key : name53, value : 홍길동53 입니다.
key : name54, value : 홍길동54 입니다.
key : name55, value : 홍길동55 입니다.
key : name56, value : 홍길동56 입니다.
key : name57, value : 홍길동57 입니다.
key : name58, value : 홍길동58 입니다.
key : name59, value : 홍길동59 입니다.
key : name60, value : 홍길동60 입니다.
key : name61, value : 홍길동61 입니다.
key : name62, value : 홍길동62 입니다.
key : name63, value : 홍길동63 입니다.
key : name64, value : 홍길동64 입니다.
key : name65, value : 홍길동65 입니다.
key : name66, value : 홍길동66 입니다.
key : name67, value : 홍길동67 입니다.
key : name68, value : 홍길동68 입니다.
key : name69, value : 홍길동69 입니다.
key : name70, value : 홍길동70 입니다.
key : name71, value : 홍길동71 입니다.
key : name72, value : 홍길동72 입니다.
key : name73, value : 홍길동73 입니다.
key : name74, value : 홍길동74 입니다.
key : name75, value : 홍길동75 입니다.
key : name76, value : 홍길동76 입니다.
key : name77, value : 홍길동77 입니다.
key : name78, value : 홍길동78 입니다.
key : name79, value : 홍길동79 입니다.
key : name80, value : 홍길동80 입니다.
key : name81, value : 홍길동81 입니다.
key : name82, value : 홍길동82 입니다.
key : name83, value : 홍길동83 입니다.
key : name84, value : 홍길동84 입니다.
key : name85, value : 홍길동85 입니다.
key : name86, value : 홍길동86 입니다.
key : name87, value : 홍길동87 입니다.
key : name88, value : 홍길동88 입니다.
key : name89, value : 홍길동89 입니다.
key : name90, value : 홍길동90 입니다.
key : name91, value : 홍길동91 입니다.
key : name92, value : 홍길동92 입니다.
key : name93, value : 홍길동93 입니다.
key : name94, value : 홍길동94 입니다.
key : name95, value : 홍길동95 입니다.
key : name96, value : 홍길동96 입니다.
key : name97, value : 홍길동97 입니다.
key : name98, value : 홍길동98 입니다.
key : name99, value : 홍길동99 입니다.
key : name100, value : 홍길동100 입니다.

In [171]:
### 짝수 및 홀스 리스트 깨끗한 변수 2개 생성
# - 리스트 변수명 : 짝수 리스트명(list_even), 홀스 리스트명(list_odd)
# - 딕셔너리 데이터의 key 또는 value의 값 뒷에 숫자가 짝수이면 list1에 추가
#                                                    홀수이면 list2에 추가
# - 최종 결과 확인 : list1, list2 각각 확인...
list_even = []
list_odd = []

for k, v in dict3.items() :
    n = int(k[4:])

    if n % 2 == 0 :
        list_even.append(v)
    else :
        list_odd.append(v)

print(f"짝수 리스트 : {list_even}\n")
print(f"홀수 리스트 : {list_odd}")

짝수 리스트 : ['홍길동2', '홍길동4', '홍길동6', '홍길동8', '홍길동10', '홍길동12', '홍길동14', '홍길동16', '홍길동18', '홍길동20', '홍길동22', '홍길동24', '홍길동26', '홍길동28', '홍길동30', '홍길동32', '홍길동34', '홍길동36', '홍길동38', '홍길동40', '홍길동42', '홍길동44', '홍길동46', '홍길동48', '홍길동50', '홍길동52', '홍길동54', '홍길동56', '홍길동58', '홍길동60', '홍길동62', '홍길동64', '홍길동66', '홍길동68', '홍길동70', '홍길동72', '홍길동74', '홍길동76', '홍길동78', '홍길동80', '홍길동82', '홍길동84', '홍길동86', '홍길동88', '홍길동90', '홍길동92', '홍길동94', '홍길동96', '홍길동98', '홍길동100']

홀수 리스트 : ['홍길동1', '홍길동3', '홍길동5', '홍길동7', '홍길동9', '홍길동11', '홍길동13', '홍길동15', '홍길동17', '홍길동19', '홍길동21', '홍길동23', '홍길동25', '홍길동27', '홍길동29', '홍길동31', '홍길동33', '홍길동35', '홍길동37', '홍길동39', '홍길동41', '홍길동43', '홍길동45', '홍길동47', '홍길동49', '홍길동51', '홍길동53', '홍길동55', '홍길동57', '홍길동59', '홍길동61', '홍길동63', '홍길동65', '홍길동67', '홍길동69', '홍길동71', '홍길동73', '홍길동75', '홍길동77', '홍길동79', '홍길동81', '홍길동83', '홍길동85', '홍길동87', '홍길동89', '홍길동91', '홍길동93', '홍길동95', '홍길동97', '홍길동99']

In [176]:
list_e= []
list_o = []

for val in dict3.values() :
    ### 짝수인 경우
    if int(val[-1]) % 2 == 0 :
        list_e.append(val)
    else :
        list_o.append(val)

print(f"짝수 리스트 : {list_e}" "\n\n" f"홀수 리스트 : {list_o}")

짝수 리스트 : ['홍길동2', '홍길동4', '홍길동6', '홍길동8', '홍길동10', '홍길동12', '홍길동14', '홍길동16', '홍길동18', '홍길동20', '홍길동22', '홍길동24', '홍길동26', '홍길동28', '홍길동30', '홍길동32', '홍길동34', '홍길동36', '홍길동38', '홍길동40', '홍길동42', '홍길동44', '홍길동46', '홍길동48', '홍길동50', '홍길동52', '홍길동54', '홍길동56', '홍길동58', '홍길동60', '홍길동62', '홍길동64', '홍길동66', '홍길동68', '홍길동70', '홍길동72', '홍길동74', '홍길동76', '홍길동78', '홍길동80', '홍길동82', '홍길동84', '홍길동86', '홍길동88', '홍길동90', '홍길동92', '홍길동94', '홍길동96', '홍길동98', '홍길동100']

홀수 리스트 : ['홍길동1', '홍길동3', '홍길동5', '홍길동7', '홍길동9', '홍길동11', '홍길동13', '홍길동15', '홍길동17', '홍길동19', '홍길동21', '홍길동23', '홍길동25', '홍길동27', '홍길동29', '홍길동31', '홍길동33', '홍길동35', '홍길동37', '홍길동39', '홍길동41', '홍길동43', '홍길동45', '홍길동47', '홍길동49', '홍길동51', '홍길동53', '홍길동55', '홍길동57', '홍길동59', '홍길동61', '홍길동63', '홍길동65', '홍길동67', '홍길동69', '홍길동71', '홍길동73', '홍길동75', '홍길동77', '홍길동79', '홍길동81', '홍길동83', '홍길동85', '홍길동87', '홍길동89', '홍길동91', '홍길동93', '홍길동95', '홍길동97', '홍길동99']

## 실습

In [ ]:
"""
* 이름, 나이, 지역 데이터 관리하기
    - 이름, 나이, 주소는 디셔너리 타입 사용
    - 데이터 추가시 {name:이름, age:나이, area:지역} 딕셔너리 형태를 리스트에 추가하여 관리

* 리스트 변수명 : data_list
* [{name:이름, age:나이, area:지역}]
   {name:이름, age:나이, area:지역}]
   {name:이름, age:나이, area:지역}
   ...]
"""

In [34]:
## 임의의 값 입력 받기 위한 안내 메시지
msg = """아래 번호 중에 하나를 선택하여 주세요(번호로 입력)
0. 종료
1. 값 추가
2. 전체 검색
3. 검색
4. 삭제
5. 수정
"""

#리스트 변수명 & 딕셔너리
data_list = {}

while True :
    choose = int(input(msg))

    ### 0번 : 종료
    if choose == 0 :
        print("종료합니다.")
        break
        
    ### 1번 : 값 추가
    elif choose == 1 :
        name = input("이름을 입력해 주세요.")
        if name in data_list :
            print("이미 등록된 정보입니다.")
            continue 
             
        age = int(input("나이를 입력해 주세요."))
        area = input("지역을 입력해 주세요.")

        ### 데이터(값) 추가하기
        # {"이순신" : {{"이름" : "홍길동", "나이" : age, "지역" : area}}}
        data_list[name] = {"나이" : age, "지역" : area}
        print(f"{name}님의 정보가 저장 되었습니다.")

    ### 2번 : 전체 검색
    elif choose == 2 :
        if not data_list :
            print("저장된 정보가 없습니다")
        else :
            print("전체 정보")
            for name, info in data_list.items() :
                print(f"이름 : {name}, 나이 : {info['나이']}, 지역 : {info['지역']}")

    ### 3번 : 검색
    elif choose == 3 :
        s_name = input("검색할 정보의 이름을 입력해 주세요.")
        if not data_list :
            print("저장된 정보가 없습니다.")
        
        elif s_name in data_list :
            print("검색하신 정보입니다.") 
            print(f"이름 : {name}, 나이 : {info['나이']}, 지역 : {info['지역']}")

        else :
            print("등록되지 않은 정보입니다")

    ### 4번 : 삭제
    elif choose == 4 :        
        s_name = input("삭제할 정보의 이름을 입력해 주세요.")
        if not data_list :
            print("삭제할 정보가 없습니다.")
            
        elif s_name in data_list :
            del data_list[s_name]
            print(f"{name}님의 정보가 정상적으로 삭제 처리 되었습니다.")

        else :
            print("등록되지 않은 정보입니다")

    ### 5번 : 수정
    elif choose == 5 :
        s_name = input("수정할 정보의 이름을 입력해 주세요.")

        if not data_list : ("수정할 정보가 없습니다")

        elif s_name in data_list:
                
                while True :
                    print("수정할 항목을 선택해 주세요")
                    print("1. 이름 수정")
                    print("2. 나이 수정")
                    print("3. 지역 수정")
                    print("4. 수정 종료")
    
                    choose2 = int(input("번호를 선택 해 주세요"))
    
                    if choose2 == 1 :
                        n_name = input("수정할 이름을 작성해주세요")
                        
                        if n_name in data_list :
                            print("이미 존재하는 이름입니다. 다시 입력해 주세요.")
                            continue

                        data_list[n_name] = data_list.pop(s_name)
                        s_name = n_name
                        print("이름이 수정되었습니다.")
    
                    elif choose2 == 2 :
                        data_list[s_name]['나이'] = input("수정할 나이을 작성해주세요")
                        print("이름이 수정되었습니다")
    
                    elif choose2 == 3 :
                        data_list[s_name]['지역'] = input("수정할 지역을 작성해주세요")
                        print("이름이 수정되었습니다")
    
                    elif choose2 == 4 :
                        print("수정을 종료합니다.")
                        break


    else :
        print("올바른 정보를 입력해 주세요.")

                    
    print()

아래 번호 중에 하나를 선택하여 주세요(번호로 입력)
0. 종료
1. 값 추가
2. 전체 검색
3. 검색
4. 삭제
5. 수정
 1
이름을 입력해 주세요. 보경
나이를 입력해 주세요. 25
지역을 입력해 주세요. 부산

보경님의 정보가 저장 되었습니다.

아래 번호 중에 하나를 선택하여 주세요(번호로 입력)
0. 종료
1. 값 추가
2. 전체 검색
3. 검색
4. 삭제
5. 수정
 3

아래 번호 중에 하나를 선택하여 주세요(번호로 입력)
0. 종료
1. 값 추가
2. 전체 검색
3. 검색
4. 삭제
5. 수정
 0

종료합니다.

In [23]:
msg = """아래 번호 중에 하나를 선택하여 주세요(번호로 입력)
0. 종료
1. 값 추가
2. 전체 검색
3. 검색
4. 삭제
5. 수정
"""

#리스트 변수명 & 딕셔너리
data_list = []

In [24]:

while True:
    print(msg)
    print(" ")
    menw = int(input("번호로 메뉴 선택 : "))

    # 종료 메뉴 선택
    if menw == 0:
        print("입력이 종료 되었습니다.")
        break
    
    # 정보 입력 선택
    elif menw == 1:
        print(" -- *** -- ")
        print('신규 등록을 위해 정보를 입력하세요.')
        print(' ')
        print("이름을 입력하세요")
        p_name = input("이름 : ")

        s_name = False # 이름 중복이 아닌 경우 

        # 이름 중복 확인
        for person in data_list:
            if person['name'] == p_name :
                print(f"'{p_name}'님은 이미 등록된 이름입니다. 다른 이름을 입력해주세요.")
                s_name = True # 중복일 때 True로

        if s_name == False :
            # 이름 중복이 없을 때
            # 이름이 중복되지 않으면 나이와 지역 입력
            print("나이를 입력하세요.")
            p_age = input("나이 : ")

            print("지역을 입력하세요.")
            print(' ')
            p_area = input("지역 : ")

            # 입력값을 딕셔너리로 만들어 리스트에 추가
            person = {'name' : p_name, 'age' : p_age, 'area' : p_area}
            data_list.append(person)

            print(f"{p_name}님의 정보가 추가되었습니다.")
            print(' ')
            print("안내 : 메뉴로 이동합니다.")
            print(" -- *** -- ")

    # 정보 확인 선택
    elif menw == 2:
        print(" -- *** -- ")
        print("저장된 정보 목록입니다.")
        print(' ')

        if not data_list:
            print("등록된 정보가 없습니다.")
        else:
            for person in data_list:
                print(f"이름: {person['name']}, 나이: {person['age']}, 지역: {person['area']}")

        print(' ')
        print("안내 : 메뉴로 이동합니다.")
        print(" -- *** -- ")

    # 정보 검색 선택
    elif menw == 3 :
        print("검색 할 이름을 입력하세요.")
        s_name = input("이름 입력 : ")
        print(" ")

        # 리스트 내 이름 검색 후 해당 값 출력
        for person in data_list:
            if person['name'] == s_name :
                print(f"'{s_name}'님의 정보 확인.")
                print(f"이름: {person['name']}, 나이: {person['age']}, 지역: {person['area']}")
                print(' ')
                print("안내 : 메뉴로 이동합니다.")
                print(" -- *** -- ")
                break
            else :
                print("등록된 정보가 존재하지 않습니다.")
                print(' ')
                print("안내 : 메뉴로 이동합니다.")
                print(" -- *** -- ")
                break

    # 정보 삭제 선택
    elif menw == 4 :
        print("삭제할 이름을 입력하세요")
        p_name = input("이름 : ")

        s_name = True  # 검색한 이름이 정보에 있을 경우

        # 이름 중복 확인
        for person in data_list :
            if person['name'] == p_name:
                print(f"'{p_name}'님의 정보를 삭제하시겠습니까?")
                ans = input("삭제하시겠습니까? (y / n) : ")
                print(' ')

                if ans.lower() == 'y' :
                    data_list.remove(person)  # 이름과 일치하는 정보 삭제
                    s_name = False  # 삭제 후 False로
                    print(f"'{p_name}'님의 정보가 정상적으로 삭제되었습니다.")
                    print("안내 : 메뉴로 이동합니다.")
                    print(" -- *** -- ")
                    break  # 삭제 후 루프를 종료

        if s_name :  # 정보가 없을 경우
            print('등록된 정보가 존재하지 않습니다.')
            print(' ')
            print("안내 : 메뉴로 이동합니다.")
            print(" -- *** -- ")

    # 정보 수정 선택
    elif menw == 5 :
        print("검색할 이름을 입력하세요")
        p_name = input("이름 : ")

        s_name = True  # 이름 중복인 경우

        # 이름 중복 확인
        for person in data_list :
            if person['name'] == p_name :
                s_name = False  # 이름이 존재하는 경우

                print(f"'{p_name}'님의 정보를 수정합니다.")
                print(' ')
                print("어떤 항목을 수정하시겠습니까?")
                print("1. 이름")
                print("2. 나이")
                print("3. 지역")
                print("4. 전부 수정")
                print(' ')
                choice = input("수정할 항목 번호를 입력하세요 : ")
                print(' ')

                if choice == '1' :
                    new_name = input("새로운 이름을 입력하세요 : ")
                    person['name'] = new_name
                    print(f"이름이 '{new_name}'로 수정되었습니다.")
                    print(' ')

                elif choice == '2' :
                    new_age = input("새로운 나이를 입력하세요 : ")
                    person['age'] = new_age
                    print(f"나이가 '{new_age}'로 수정되었습니다.")
                    print(' ')

                elif choice == '3' :
                    new_region = input("새로운 지역을 입력하세요 : ")
                    person['region'] = new_region
                    print(f"지역이 '{new_region}'으로 수정되었습니다.")
                    print(' ')

                elif choice == '4' :
                    new_name = input("새로운 이름을 입력하세요 : ")
                    new_age = input("새로운 나이를 입력하세요 : ")
                    new_region = input("새로운 지역을 입력하세요 : ")
                    print(' ')

                    person['name'] = new_name
                    person['age'] = new_age
                    person['region'] = new_region
                    print(f"수정되었습니다 : 이름 : {new_name}, 나이 : {new_age}, 지역 : {new_region}")
                    print(' ')

                else:
                    print("잘못된 번호를 입력하셨습니다.")
                    print(' ')

                print("수정이 완료되었습니다.")
                print("안내 : 메뉴로 이동합니다.")
                print(" -- *** -- ")
                break  # 수정 후 루프 종료

        if s_name :  # 이름이 존재하지 않으면
            print('등록된 정보가 존재하지 않습니다.')
            print(' ')
            print("안내 : 메뉴로 이동합니다.")
            print(" -- *** -- ")

    else :
        print("입력 번호를 확인해주세요.")
        print("메뉴로 이동합니다.")
        print(" -- *** -- ")
        continue

아래 번호 중에 하나를 선택하여 주세요(번호로 입력)
0. 종료
1. 값 추가
2. 전체 검색
3. 검색
4. 삭제
5. 수정

번호로 메뉴 선택 :  1

 -- *** --
신규 등록을 위해 정보를 입력하세요.

이름을 입력하세요

이름 :  보경

나이를 입력하세요.

나이 :  25

지역을 입력하세요.

지역 :  부산

보경님의 정보가 추가되었습니다.

안내 : 메뉴로 이동합니다.
 -- *** --
아래 번호 중에 하나를 선택하여 주세요(번호로 입력)
0. 종료
1. 값 추가
2. 전체 검색
3. 검색
4. 삭제
5. 수정

번호로 메뉴 선택 :  2

 -- *** --
저장된 정보 목록입니다.

이름: 보경, 나이: 25, 지역: 부산

안내 : 메뉴로 이동합니다.
 -- *** --
아래 번호 중에 하나를 선택하여 주세요(번호로 입력)
0. 종료
1. 값 추가
2. 전체 검색
3. 검색
4. 삭제
5. 수정

번호로 메뉴 선택 :  5

검색할 이름을 입력하세요

이름 :  보경

'보경'님의 정보를 수정합니다.

어떤 항목을 수정하시겠습니까?
1. 이름
2. 나이
3. 지역
4. 전부 수정

수정할 항목 번호를 입력하세요 :  3

새로운 지역을 입력하세요 :  서울

지역이 '서울'으로 수정되었습니다.

수정이 완료되었습니다.
안내 : 메뉴로 이동합니다.
 -- *** --
아래 번호 중에 하나를 선택하여 주세요(번호로 입력)
0. 종료
1. 값 추가
2. 전체 검색
3. 검색
4. 삭제
5. 수정

번호로 메뉴 선택 :  0

입력이 종료 되었습니다.

In [ ]:




data_list = []




msg = """ 아래 번호중에 하나를 선택해 주세요(번호로 입력) :
          0 : 종료
          1 : 값 추가
          2 : 전체 검색
          3 : 이름으로 검색하기
          4 : 이름으로 삭제하기
          5 : 수정하기 (이름을 입력하시오.)
"""

while True :
    
    num = int(input(msg))
    
    if num == 0 :
        break

    elif num == 1 :
        name = input("이름을 입력해주세요 :")
        
        age = int(input("나이 입력해주세요 :"))
              
        area = input("지역을 입력해주세요 :")

        dict_data = {'name' : name, 'age' : age, 'area' : area}
        data_list.append(dict_data)

        print("\n" f"{name}님의 나이({age})와 지역({area})이 저장되었습니다 !!")
        print("\n")

    elif num == 2 :

       for i in data_list :
           

           print(i)

    elif num == 3 :

        name_search = input("검색할 분의 성함을 입력해주세요 :")

        for dict_data in data_list :
            if dict_data['name'] == name_search :

                
                #print(data_list[idx])

                
                print("\n" f"이름 : {dict_data['name']} 나이 : {dict_data['age']}  지역 : {dict_data['area']}")

    elif num == 4 :

        name_del = input("삭제 할 분의 성함을 입력해주세요 :")

        for dict_data in data_list :
            if dict_data['name'] == name_del :

                data_list.remove(dict_data)

                      

                print(f"''<<{name_del}>>'님의 정보가 삭제되었습니다.")

            else :
                print("등록된 정보가 없습니다.")


    elif num == 5 :

        rvs_name = input("수정하실분의 이름을 입력해주세요 :")

        for dict_data in data_list :
            if dict_data['name'] == rvs_name:
            
                cansle = input("이름, 나이, 주소 중 어느 데이터를 변경 하시겠습니까?")

                if cansle == "이름" :
                    re_name = input("수정할 이름을 입력하시오 :")
                    dict_data['name'] = re_name

                    print("\n" f"이름 : {dict_data['name']} 나이 : {dict_data['age']}  지역 : {dict_data['area']} 수정되었습니다 !!")

                if cansle == "나이" :
                    re_age = int(input("수정할 이름을 입력하시오 :"))
                    dict_data['age'] = re_age

                    print("\n" f"이름 : {dict_data['name']} 나이 : {dict_data['age']}  지역 : {dict_data['area']} 수정되었습니다 !!")

                if cansle == "지역" :
                    re_area = int(input("수정할 지역을 입력하시오 :"))
                    dict_data['area'] = re_area

                    print("\n" f"이름 : {dict_data['name']} 나이 : {dict_data['age']}  지역 : {dict_data['area']} 수정되었습니다 !!")
        
                    

                #if cansle == "나이" :

                #if cansle == "주소" :

In [1]:
## 임의의 값 입력 받기 위한 안내 메시지
msg = """아래 번호 중에 하나를 선택하여 주세요(번호로 입력)
0. 종료
1. 값 추가
2. 전체 검색
3. 검색
4. 삭제
5. 수정
"""

#리스트 변수명 & 딕셔너리
data_list = {}

while True :
    choose = int(input(msg))

    ### 0번 : 종료
    if choose == 0 :
        print("종료합니다.")
        break
        
    ### 1번 : 값 추가
    elif choose == 1 :
        name = input("이름을 입력해 주세요.")
        if name in data_list :
            print("이미 등록된 정보입니다.")
            continue 
             
        age = int(input("나이를 입력해 주세요."))
        area = input("지역을 입력해 주세요.")
    
        ### 데이터(값) 추가하기
        # {"이순신" : {{"이름" : "홍길동", "나이" : age, "지역" : area}}}
        data_list[name] = {"나이" : age, "지역" : area}
        print(f"{name}님의 정보가 저장 되었습니다.")

    ### 2번 : 전체 검색
    elif choose == 2 :
        if not data_list :
            print("저장된 정보가 없습니다")
        else :
            print("전체 정보")
            for name, info in data_list.items() :
                print(f"이름 : {name}, 나이 : {info['나이']}, 지역 : {info['지역']}")

    ### 3번 : 검색
    elif choose == 3 :
        s_name = input("검색할 정보의 이름을 입력해 주세요.")
        if not data_list :
            print("저장된 정보가 없습니다.")
        
        elif s_name in data_list :
            print("검색하신 정보입니다.") 
            print(f"이름 : {name}, 나이 : {info['나이']}, 지역 : {info['지역']}")

        else :
            print("등록되지 않은 정보입니다")

    ### 4번 : 삭제
    elif choose == 4 :        
        s_name = input("삭제할 정보의 이름을 입력해 주세요.")
        if not data_list :
            print("삭제할 정보가 없습니다.")
            
        elif s_name in data_list :
            del data_list[s_name]
            print(f"{name}님의 정보가 정상적으로 삭제 처리 되었습니다.")

        else :
            print("등록되지 않은 정보입니다")

    ### 5번 : 수정
    elif choose == 5 :
        s_name = input("수정할 정보의 이름을 입력해 주세요.")

        if not data_list : ("수정할 정보가 없습니다")

        elif s_name in data_list:
                
                while True :
                    print("수정할 항목을 선택해 주세요")
                    print("1. 이름 수정")
                    print("2. 나이 수정")
                    print("3. 지역 수정")
                    print("4. 수정 종료")
    
                    choose2 = int(input("번호를 선택 해 주세요"))
    
                    if choose2 == 1 :
                        n_name = input("수정할 이름을 작성해주세요")
                        
                        if n_name in data_list :
                            print("이미 존재하는 이름입니다. 다시 입력해 주세요.")
                            continue

                        data_list[n_name] = data_list.pop(s_name)
                        s_name = n_name
                        print("이름이 수정되었습니다.")
    
                    elif choose2 == 2 :
                        data_list[s_name]['나이'] = input("수정할 나이을 작성해주세요")
                        print("이름이 수정되었습니다")
    
                    elif choose2 == 3 :
                        data_list[s_name]['지역'] = input("수정할 지역을 작성해주세요")
                        print("이름이 수정되었습니다")
    
                    elif choose2 == 4 :
                        print("수정을 종료합니다.")
                        break


    else :
        print("올바른 정보를 입력해 주세요.")

                    
    print()

아래 번호 중에 하나를 선택하여 주세요(번호로 입력)
0. 종료
1. 값 추가
2. 전체 검색
3. 검색
4. 삭제
5. 수정
 1
이름을 입력해 주세요. 보경
나이를 입력해 주세요. 25
지역을 입력해 주세요. 부산

보경님의 정보가 저장 되었습니다.

아래 번호 중에 하나를 선택하여 주세요(번호로 입력)
0. 종료
1. 값 추가
2. 전체 검색
3. 검색
4. 삭제
5. 수정
 4
삭제할 정보의 이름을 입력해 주세요. 보경

보경님의 정보가 정상적으로 삭제 처리 되었습니다.

아래 번호 중에 하나를 선택하여 주세요(번호로 입력)
0. 종료
1. 값 추가
2. 전체 검색
3. 검색
4. 삭제
5. 수정
 0

종료합니다.

In [ ]:
msg = """아래 번호 중에 하나를 선택하여 주세요(번호로 입력)
0. 종료
1. 값 추가
2. 전체 검색
3. 검색
4. 삭제
5. 수정
"""

data_list = []

while True:
    option = int(input(msg))
    
    if option == 0:
        # 종료
        print("\n프로그램을 종료합니다.")
        break

    elif option == 1:
        # 리스트에 값 추가
        p_name = input('귀하의 이름을 입력하십시오. : ')
        p_age = int(input('귀하의 나이를 입력하십시오. : '))
        p_area = input('귀하의 거주 지역을 입력하십시오. : ')
        temp_dict = {"name":p_name, "age":p_age, "area":p_area}

        # 입력한 값을 리스트에 넣을지 확인하기
        check = input(f"\n 이름:{p_name}, 나이:{p_age}, 거주 지역:{p_area}. \n\n 위 정보를 리스트에 추가하시겠습니까? (네/아니오) \n")
        
        if check == '네':
            data_list.append(temp_dict)
            print("\n귀하의 정보가 성공적으로 입력되었습니다.")
            
        else:
            print('\n리스트 추가를 취소합니다.')

    elif option == 2:
        # 전체 조회
        print()
        
        for info in data_list:
            print(f"{info['name']}님의 나이는 {info['age']}이고 거주 지역은 {info['area']}입니다.")

    elif option == 3:
        # 검색하기(이름 검색)
        target = input('\n검색할 이름을 입력하십시오. : ')
        # 각 딕셔너리에서 이름값만 추출한 새로운 리스트 생성
        # data_list 리스트의 각 항목을 info라 징하며 그 중 key가 'name'인 값들을 리스트에 저장, 그 후 name_list라는 변수에 저장
        name_list = [info['name'] for info in data_list]
        
        if target in name_list:
            # 검색할 이름이 위치한 인덱스 번호 저장
            idx = name_list.index(target)
            print(f"\n{data_list[idx]['name']}님의 나이는 {data_list[idx]['age']}이고 거주 지역은 {data_list[idx]['area']}입니다.")
            
        else:
            print('\n찾는 이름이 목록에 없습니다.')

    elif option == 4:
        # 삭제하기(특정 이름)
        target = input('\n삭제할 이름을 입력하십시오. : ')
        name_list = [info['name'] for info in data_list]
        
        if target in name_list:
            idx = name_list.index(target)
            del data_list[idx]
            print(f'\n{target}님의 정보를 성공적으로 제거하였습니다.')
            
        else:
            print('\n찾는 이름이 목록에 없습니다.')

    elif option == 5:
        # 수정하기
        target = input('\n수정을 원하시는 인물의 이름을 입력하십시오. : ')
        name_list = [info['name'] for info in data_list]

        if target in name_list:
            idx = name_list.index(target)
            attri = input('\n변경하고자 하는 속성을 입력하십시오.(이름/나이/지역)')
            # 이름/나이/지역에 대응하는 딕셔너리의 key값을 지정하기 위해 새로운 딕셔너리 생성
            rule = {"이름":'name', "나이":'age', "지역":'area'}

            # 이름/나이/지역에 해당하지 않는 속성을 입력할 시
            if attri not in rule.keys():
                print('\n속성을 잘못 입력하였습니다. 초기 화면으로 돌아갑니다.')
                
            else:
                modi = input('\n바꾸실 내용을 입력하십시오.')
                # 변경 값이 이름/지역일 떄와 나이일 때의 경우를 나누어서 실행
                # 문자열의 값이 숫자일 때 True 반환
                if modi.isdigit():
                    # 리스트의 idx번째 항목(딕셔너리 타입)의 attri에 대응되는 key의 value를 modi로 바꾸기
                    data_list[idx][rule[attri]] = int(modi)
                    
                else:
                    data_list[idx][rule[attri]] = modi
                print('\n내용을 성공적으로 수정하였습니다.')
                
        else:
            print('\n찾는 이름이 목록에 없습니다.')
               
    else:
        print("\n잘못된 입력입니다.")

아래 번호 중에 하나를 선택하여 주세요(번호로 입력)
0. 종료
1. 값 추가
2. 전체 검색
3. 검색
4. 삭제
5. 수정
 1
귀하의 이름을 입력하십시오. :  김보경
귀하의 나이를 입력하십시오. :  25
귀하의 거주 지역을 입력하십시오. :  부산

 이름:김보경, 나이:25, 거주 지역:부산.

 위 정보를 리스트에 추가하시겠습니까? (네/아니오)
 네

귀하의 정보가 성공적으로 입력되었습니다.