In [ ]:
### 여러개의 변수값들은 묶어서 가지고 다니는 타입들
# - 리스트(List), 딕셔너리(Dict), 튜플(Tuple), 이외 등등...

In [ ]:
"""
<List(리스트) 변수>
    - 여러 개의 변수들의 값들을 하나로 관리하는 변수
    - 사용되는 기호 : 대괄호[]
    - 리스트 메모리 공간 내에 여러개의 작은 메모리(변수)들이 존재함
    - 여러개의 작은 메모리의 주소값을 -> 인덱스(index) 주소, 또는 번호라고 칭합ㄴ디ㅏ.
    - 리스트 내에 있는 값들을 처리할 때는 주로 for문과 함께 사용됩니다.
    - 리스트 내에 값들의 타입은 다양합니다.(어떤 타입도 넣을 수 있습니다)
    - 리스트 내에 값을 추출하는 방법 : 작은 메모리 주소, 즉 인덱스(index) 번호를 이용해서 추출함
"""

In [21]:
### 리스트 변수 만들기
list_val = [10, 20, 30, 40, 50, 
            60, 70, 30, 30, 40]

In [22]:
### 반수의 타입 확인하는 방법
# - 출력 결과의 기호를 통해 확인 할 수 있음
# - type() 함수를 통해 확인 할 수 있음
print(list_val, type(list_val))

[10, 20, 30, 40, 50, 60, 70, 30, 30, 40] <class 'list'>

In [5]:
a = 10
type(a)

int

In [8]:
## IndexError: List index out of range
# : 사용하는 번호에 대한 인덱스 번호가 없다는 의미
#   (인덱스 번호 범위를 벗어났다는 의미)
list_val[0], list_val[1], list_val[9]

(10, 20, 40)

In [9]:
### 리스트 내에 값의 갯수 학인하기
len(list_val)

10

In [23]:
### 리스트 내에서 값 추출하기 : for문 이용
# for range(len(list_val)) :
# (0, 1, 2, 3..., 9)
for i in range(0, len(list_val), 1) :
    print(list_val[i])

10
20
30
40
50
60
70
30
30
40

In [30]:
###리스트 내에 값 중에 30이라는 수자가 총 몇개 들어 있는지도 출력해주세요.
# 총 갯수는 for문이 종료된 후 마지막에 한번만 출력해주세요
### 30이라는 값이 체크될 때 1씩 증가 할 값(count)을 저장(누적값)

cnt = 0

for i in range(0, len(list_val), 1) :
    if list_val[i] == 30 :
        cnt += 1

print(cnt)

3

## 리스트 출력 시 for문 작성하는 방법 2가지

In [ ]:
### for문 작성하는 방법 2가지
# - 리스트 내에 index 번호를 이용하는 방법
# - 리스트 내에 값 자체를 이용하는 방법

In [31]:
### 리스트 변수 생성
# - 변수명 : list_temp
# - 값 : 1, 2, "이순신", "홍길동", 3.141592

list_temp = [1, 2, "이순신", "홍길동", 3.141592]
list_temp

[1, 2, '이순신', '홍길동', 3.141592]

In [32]:
### for문 : 리스트 내에 index 번호를 이용하는 방법
for i in range(0, len(list_temp), 1) :
    print(list_temp[i])

1
2
이순신
홍길동
3.141592

In [34]:
### for문 : 리스트 내에 값 자체를 이용하는 방법
# (1, 2, "이순신", "홍길동", 3.141592)
# for v in (1, 2, "이순신", "홍길동", 3.141592)
for v in list_temp :
    print(v)

1
2
이순신
홍길동
3.141592

## list 변수 생성하는 방법

In [35]:
### 깨끗한 리스트 생성하기
# - 깨끗하다는 의미는 값이 없다는 의미(값이 없는 공간만 존재함)
list2 = []
print(list2)

[]

In [38]:
### 깨끗한 리스트 생성하기 2
list3 = list()
print(list3)

[]

In [37]:
### 값을 정희하여 생성하기 3
list4 = [1, "홍"]
print(list4)

[1, '홍']

In [39]:
### 값을 정희하여 생성하기 4
list5 = list((1, "홍"))
print(list5)

[1, '홍']

In [41]:
### 0부터 100까지의 값을 정의하여 생성하기 5
list6 = list(range(0, 101, 1))
print(list6)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [42]:
list7 = [range(0, 101, 1)]
print(list7)

[range(0, 101)]

In [ ]:
### 1부터 100까지의 범위 중에 짝수의 값들로 정의하여 리스트 변수 생성하기
# 변수명 : list8
### list8에 들어 있는 값들 중에 3의 배수들만 출력해주세요.

In [1]:
list8 = list(range(0, 101, 2))
for q in range(1, len(list8), 1) :
    if list8[q] % 3 == 0 : 
        print(list8[q])

6
12
18
24
30
36
42
48
54
60
66
72
78
84
90
96

In [2]:
list8 = list(range(2, 101, 2))
for w in list8 :
    if w % 3 == 0 :
        print(w)

6
12
18
24
30
36
42
48
54
60
66
72
78
84
90
96

In [3]:
### 1부터 100까지의 범위 중에 짝수의 값들로 정의하여 리스트 변수 생성하기
# 변수명 : list8
list8 = list(range(2, 101, 2))
print(list8)

### list8에 들어 있는 값들 중에 3의 배수들만 출력해주세요.
# 인덱스번호를 이용하는 방식과, 값을 이용하는 방식 2가지 for문 방식으로 모두 해주세요.
# (인덱스 번호 사용)
for idx in range(0, len(list8), 1) :
    if list8[idx] % 3 == 0 :
        print(list8[idx])

# (값 사용)
for val in list8 :
    if val % 3 == 0 :
        print(val)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
6
12
18
24
30
36
42
48
54
60
66
72
78
84
90
96
6
12
18
24
30
36
42
48
54
60
66
72
78
84
90
96