In [13]:
### 클래스
# - 클래스 이름은 대문자로 시작합니다.
# - 변수를 멤버 변수, 함수를 멤버 함수라고 칭합니다.
# - 함수를 정의할 때, 매개변수에는 무조건 self라는 단어를 처음에 제시해야 합니다.
#    -- self는 클래스 내에서 전역변수로 사용하겠다는 의미를 가집니다.
#    -- self로 정의된 변수들은 모두 외부에서 접근이 가능합니다.

class Math :
    ### 리스트 변수
    list_temp = []

    ### 리스트에 데이터 추가하는 함수 정의하기
    def setAppendList(self, p_list, p_name) :
        p_list.append(p_name)
        
    ### 여러개의 문자열을 튜플 타입으로 반환하기
    def getTuple(self, *string) :
        return string

    ### 여러개의 key = value를 딕셔너리 타입으로 반환하기
    def getDict(self, **info) :
        return info

In [14]:
### 클래스는 호출이 아닌, 생성한다는 표현을 사용 합니다.
# - 생성과 동시에 메모리가 만들어 집니다.

### 클래스 생성하기
math = Math()
math.setAppendList(math.list_temp,
                   math.getDict(name = "홍길동", age = 11, area = "부산"))

math.list_temp

[{'name': '홍길동', 'age': 11, 'area': '부산'}]

In [15]:
class Math :
    ### 리스트 변수
    list_temp = []

    ### 리스트에 데이터 추가하는 함수 정의하기
    def setAppendList(self, p_name) :
        self.list_temp.append(p_name)
        
    ### 여러개의 문자열을 튜플 타입으로 반환하기
    def getTuple(self, *string) :
        return string

    ### 여러개의 key = value를 딕셔너리 타입으로 반환하기
    def getDict(self, **info) :
        return info

In [16]:
math1 = Math()
math1.setAppendList(math1.getDict(name = "홍길동", age = 11, area = "부산"))

math1.list_temp

[{'name': '홍길동', 'age': 11, 'area': '부산'}]

In [17]:
class Math :
    ### 리스트 변수
    list_temp = []

    ### setTuple_AppList()
    # - 딕셔너리 타입을 리스트에 추가하는 함수 정의
    def setDict_AppList(self, **data) :
        self.setAppendList(data)

    ### 리스트에 데이터 추가하는 함수 정의하기
    def setAppendList(self, p_name) :
        self.list_temp.append(p_name)
        
    ### 여러개의 문자열을 튜플 타입으로 반환하기
    def getTuple(self, *string) :
        return string

    ### 여러개의 key = value를 딕셔너리 타입으로 반환하기
    def getDict(self, **info) :
        return info

In [18]:
math2 = Math()
math2.setDict_AppList(name = "홍길동", age = 11, area = "부산")

math2.list_temp

[{'name': '홍길동', 'age': 11, 'area': '부산'}]

In [19]:
class Math :
    ### 생성자 함수 정의하기
    # - 외부에서 클래스 생성 시에 미리 값을 정의하고자 할 때 넘겨받을 값을 처리함
    def __init__(self) :
        print("생성자가 호출되었습니다.")
    
    ### 리스트 변수
    list_temp = []

    ### setTuple_AppList()
    # - 딕셔너리 타입을 리스트에 추가하는 함수 정의
    def setDict_AppList(self, **data) :
        self.setAppendList(data)

    ### 리스트에 데이터 추가하는 함수 정의하기
    def setAppendList(self, p_name) :
        self.list_temp.append(p_name)
        
    ### 여러개의 문자열을 튜플 타입으로 반환하기
    def getTuple(self, *string) :
        return string

    ### 여러개의 key = value를 딕셔너리 타입으로 반환하기
    def getDict(self, **info) :
        return info

In [20]:
math3 = Math()
math3.setDict_AppList(name = "홍길동", age = 11, area = "부산")

math3.list_temp

생성자가 호출되었습니다.

[{'name': '홍길동', 'age': 11, 'area': '부산'}]

In [30]:
class Math :
    ### 생성자 함수 정의하기
    # - 외부에서 클래스 생성 시에 미리 값을 정의하고자 할 때 넘겨받을 값을 처리함
    def __init__(self, **data) :
        print("생성자가 호출되었습니다.")
        self.setAppendList(data)
    
    ### 리스트 변수
    list_temp = []

    ### setTuple_AppList()
    # - 딕셔너리 타입을 리스트에 추가하는 함수 정의
    def setDict_AppList(self, **data) :
        self.setAppendList(data)

    ### 리스트에 데이터 추가하는 함수 정의하기
    def setAppendList(self, p_name) :
        self.list_temp.append(p_name)
        
    ### 여러개의 문자열을 튜플 타입으로 반환하기
    def getTuple(self, *string) :
        return string

    ### 여러개의 key = value를 딕셔너리 타입으로 반환하기
    def getDict(self, **info) :
        return info

In [31]:
math4 = Math(name = "홍길동", age = 11, area = "부산")

math4.list_temp

생성자가 호출되었습니다.

[{'name': '홍길동', 'age': 11, 'area': '부산'}]

## 외부 모듈 불러들이기

In [10]:
### 외부의 .py 파일 불러들이기
# - 모듈 불러들이기 : import
# - 커널 리스타트 한 후 안래 진행
import math_class

In [11]:
math5 = math_class.Math (name="홍길동", age=11, area="부산")

math5.list_temp

생성자가 호출되었습니다.

[{'name': '홍길동', 'age': 11, 'area': '부산'}]

In [12]:
### 불러들이는 방법 2번째.....
from math_class import Math

In [13]:
math6 = Math(name="홍길동444", age=11, area="부산")

math6.list_temp

생성자가 호출되었습니다.

[{'name': '홍길동', 'age': 11, 'area': '부산'},
 {'name': '홍길동444', 'age': 11, 'area': '부산'}]

In [14]:
### 불러들이는 방법 3번째.....
# as : 별칭 (이름이 긴 경우에 사용합니다.)
# from 뒤에는 : 폴더명 또는 파일명
# import 뒤에는
#    : 파일명 또는 클래스명 또는 함수명
#    : from 없이 사용하는 경우에는 파일명
#    : from 뒤에 사용하는 경우에는 클래스명, 함수명
from math_class import Math as M

In [15]:
math7 = M(name="홍길동444", age=11, area="부산")

math7.list_temp

생성자가 호출되었습니다.

[{'name': '홍길동', 'age': 11, 'area': '부산'},
 {'name': '홍길동444', 'age': 11, 'area': '부산'},
 {'name': '홍길동444', 'age': 11, 'area': '부산'}]

In [8]:
### 불러들이는 방법 4번째
# 폴더 안에 있는 파일의 경우
from lib.math_class_lib import Math as M2

In [9]:
math8 = M2(name="홍길동444", age=11, area="부산")

math8.list_temp

생성자가 호출되었습니다.

[{'name': '홍길동444', 'age': 11, 'area': '부산'}]

In [17]:
from lib.math_class_lib import getTotSum

In [18]:
getTotSum(1, 2, 3, 4)

10

## 한줄 코딩

In [1]:
list_temp = list(range(10))
list_temp

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
for i in list_temp :
    print(i, end =" ")

0 1 2 3 4 5 6 7 8 9

In [5]:
### 한줄 for문 (단축 for문)
[i for i in list_temp]

### [0] + [1] + [2] + ... + [9] = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
### 출력하기
" ".join(str(i) for i in list_temp)

'0 1 2 3 4 5 6 7 8 9'

In [10]:
### 2차원 List 만들기
# List_2dim = [[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [10, 11, 12]]
list_2dim = [list(range(10)), [10, 11, 12]]
list_2dim

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [10, 11, 12]]

In [12]:
for list_data in list_2dim :
    for j in list_data :
        print(j, end = " ")

0 1 2 3 4 5 6 7 8 9 10 11 12

In [14]:
### 한줄 코딩으로 2차원 for문 수행
# - 대괄호 또는 튜플 또는 딕셔너리 등등 안에서 수행
[j for list_data in list_2dim for j in list_data]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [15]:
" ".join(str(j)for list_data in list_2dim for j in list_data)

'0 1 2 3 4 5 6 7 8 9 10 11 12'

In [16]:
### if 문 한줄 코딩
v = 3
if v < 5 : print("참")
else : print("거짓")

참

In [19]:
print("참" if v < 5 else "거짓")

참

In [21]:
v = 6
if v < 5 : print("참")
elif v < 10 : print("중립")
else : print("거짓")

중립

In [22]:
### 한줄 코딩
print("참" if v < 5 else "중립" if v < 10 else "거짓")

중립